.array-bar {
    width: .15%;
    background-color: rgb(45, 164, 233);
    display: inline-block;
    margin: 0 1px;
}

.array-container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 10%;
    /* height: 70%; */
    /* bottom: 100px; */
    /* left: 100px; */
    position: absolute;
}